<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-10">
  <% @lists.each do |list| %>
    <div>
      <%= link_to list_path(list) do %>
        <div class="card-category md:border-2 border-mark rounded-lg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
     url(<% if list.bookmarks.empty? %>
     <%= 'https://images.unsplash.com/photo-1489599849927-2ee91cede3ba'  %>
     <% else %>
     <%= list.movies.sample.poster_url %>
     <% end %>
     )">
          <p><%= list.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @lists %>
</div>
