 <% if params[:controller] == 'lists' && %w(index).include?(params[:action])%>
  <a class="cursor-pointer" id="openBtn">New list</a>
<% end %>
<% if params[:controller] == 'lists' && %w(show).include?(params[:action])%>
  <a class="cursor-pointer" id="openBtn">Update list name</a>
<% end %>
<div id="modal" class="hidden modal-bg transition-opacity duration-500 pt-8 fixed w-full h-full left-0 overflow-auto">
  <div class="bg-light modal-content relative m-auto w-4/5 shadow-lg border-2 border-mark rounded-lg">
    <div class="p-4 bg-gray-700 text-white">
      <span class="closeBtn float-right text-gray text-3xl font-bold hover:text-dark no-underline cursor-pointer"><i class="fas fa-window-close"></i></span>
      <h2 class="text-3xl text-dark text-center">Add a new list to your collection</h2>
    </div>
    <div class="p-4">
      <div class="container mx-auto my-8">
        <%= simple_form_for @list, validate: true  do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs my-3">
            <%= f.input :name, validate: { presence: true, uniqueness: true }  %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, class: "bg-primary px-4 py-2 mb-4 mr-4 rounded-lg text-light cursor-pointer hover:opacity-100 opacity-70", value: 'Save'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
