<div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-10">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="bg-white border-2 border-mark rounded-lg">
      <div class="card-category rounded-lg" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
     url(<%= bookmark.movie.poster_url %>)">
      </div>
      <h3><%= bookmark.movie.title %></h3>
      <p><%= bookmark.movie.overview %></p>
      <p><%= bookmark.comment %></p>
      <%= link_to 'delete',  delete_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
